body {
    background-color: #00BFF3;
}

body, button {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 14pt;
    text-align: center;
}

#puzzlearea {
    font-size: 40pt;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.puzzlepiece {
    border: 5px solid black;
    width: 90px;
    height: 90px;
    position: absolute;
}

.movablepiece:hover {
    border-color: red;
    color: red;
}

#throbber {
    visibility: hidden;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}